{% extends 'base.html.twig' %}

{% block title %}Value!{% endblock %}

{% block body %}
    <h1>Character :</h1>

    <p>The first start-of-packet marker is detected at character {{ value}}. </p>
{% endblock %}

